absl-py==1.4.0
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime_1636143375044/work
astunparse==1.6.3
cachetools==5.3.1
Cartopy @ file:///croot/cartopy_1674677761573/work
cdo @ file:///home/conda/feedstock_root/build_artifacts/python-cdo_1685005299361/work
certifi==2023.5.7
cf-units @ file:///home/conda/feedstock_root/build_artifacts/cf-units_1684966518143/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1666833828858/work
charset-normalizer==3.1.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1685132730712/work
findlibs @ file:///home/conda/feedstock_root/build_artifacts/findlibs_1682423883580/work
flatbuffers==23.5.26
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1683740440758/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1683494881189/work
gast==0.4.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.8.0
idna==3.4
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
jax==0.4.11
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
keras==2.12.0
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
libclang==16.0.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
Magics @ file:///home/conda/feedstock_root/build_artifacts/magics-python_1675850086204/work
Markdown==3.4.3
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769048265/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
ml-dtypes==0.1.0
munkres==1.1.4
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1678981225228/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020388495/work
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.6.0.163
oauthlib==3.2.2
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1678273448223/work
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1680061951417/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387118/work
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1685023709438/work
scipy==1.10.1
scitools-iris @ file:///home/conda/feedstock_root/build_artifacts/iris_1685004366389/work
shapely @ file:///croot/shapely_1680636282912/work
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1681125514315/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
typing_extensions==4.6.3
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239485250/work
urllib3==1.26.16
Werkzeug==2.3.4
wrapt==1.14.1
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1672695042097/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
